@import "./utils/variables";
@import "./base/reset";

@import "./components/header-geometry";
@import "./components/header-logo";
@import "./components/navigation";
@import "./components/socials-nav";
@import "./components/mobile_nav";
@import "./components/hero";
@import "./components/modal-form";
@import "./components/features";
@import "./components/work";
@import "./components/team";
@import "./components/social-team";
@import "./components/clients";

@import "./components/footer-geometry";
@import "./components/logo-footer";
@import "./components/footer-address";
@import "./components/messenger-site";
@import "./components/subscription";

@import "./components/portfolio/portfolio-filter";
@import "./components/portfolio/portfolio";