.footer-address .footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.conteiner-address {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }
}

.footer-address {
  margin-bottom: 60px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    margin-bottom: 60px;
  }
}

.footer-address__link {
  display: inline-block;
  width: 230px;
  color: var(--hero-text);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-focus-color);
  }
}

.footer__contact {
  display: block;
  color: var(--text-page);

  font-style: normal;

  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-focus-color);
  }
}
