/* модальне вікно */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // не відображає модальне вікно та дозволяє клік через модальне вікно
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0 0;

  background: none;
  margin-right: 8px;
  margin-top: 8px;

  &:hover .modal__close-position {
    fill: var(--hover-focus-color);
  }
}

.modal__close-position {
  position: absolute;
  top: 15px;
  left: 15px;
  transform: translate(-57%, -60%);

  fill: #000000;
}

/* Форма */

.modal-form__conteiner {
  padding: 0 40px 0 40px;

  & .modal-form__submit:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal-form__title {
  margin-top: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title);
}

.modal-form__label {
  margin-bottom: 4px;
  display: flex;
}

.modal-form__input {
  padding: 11px 42px 11px 42px;
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: none;
    border: solid 1px var(--hover-focus-color);
  }
}

.modal-form__submit {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  .modal-form__input:focus-within + & {
    fill: var(--hover-focus-color);
  }
}

/* Коментар форми */

.modal-form__comment {
  padding-top: 12px;
  padding-left: 16px;

  width: 448px;
  height: 120px;
  resize: none;
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: none;
    border: solid 1px var(--hover-focus-color);
  }
}

/* Checkbox погодження */

.modal-form__label-checkbox {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 54px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__terms {
  color: var(--hover-focus-color);
}

.modal-form__checkbox {
  appearance: none;
  position: absolute;
}

/* кастом чекбокс */
.modal-form__icon-checkbox {
  margin-right: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: solid 2px black;
  border-radius: 1px;

  .modal-form__checkbox:checked + & {
    background-color: var(--hover-focus-color);
    background-image: url(../images/icon-check.svg);
    border-color: var(--hover-focus-color);
    background-size: contain;
    background-origin: border-box;
  }
}

/* кнопка відправки форми */

.modal-form__button-submit {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}
