.nav__site {
  display: none;

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    & .nav__list:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    // один зі способів прибирати крайній margin
    & .nav__list:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-focus-color);

    &::after {
      opacity: 1;
    }
  }
}

// розмішення декоративної лінії під елементом навігації
.nav__link::after {
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--hover-focus-color);
  border-radius: 2px;

  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
}

.nav__link--active {
  color: var(--hover-focus-color);

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--hover-focus-color);
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
  }
}
