:root {
  --title: #212121;
  --hover-focus-color: #2196f3;
  --backgraund-body: #ffffff;
  --text-page: #757575;
  --hero-text: #ffffff;
  --logo-color: #000000;
  --footer-backgraund: #2f303a;
  --backgraund-section: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-page);
  background-color: var(--backgraund-body);
  font-size: 14px;
  letter-spacing: 0.03em;
}

// Контейнер

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  // width: 1200px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

button {
  cursor: pointer;
}

// Основні параметри секцій

.section-padding {
  // padding-top: 94px;
  // padding-bottom: 94px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  
  font-weight: 700;
  color: var(--title);

  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
